    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<%= parent %>js/jquery-2.2.0.min.js"></script>
    <script src="<%= parent %>js/bootstrap.min.js"></script>
  </body>
</html>